.App {
  padding: 20px;
  background-color: teal;
  height: 100vh;
}

.ulList{
display: flex;
flex-direction: row;
flex-wrap: wrap;

}
.ListPokemon{
  background-color: white;
  width: 150px;
  border: 1px solid lightseagreen;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.ulTypes{
display: flex;
flex-direction: row;
padding: 0;
border-top: 1px solid lightgray;
padding-top: 10px;
}

.PokemonTypes{
  list-style: none;
font-size: 14px;
background-color: lightskyblue;
margin-left: 5px;
width: 50px;
border-radius: 5px;
text-align: center;
line-height: 22px;
}
.Title{
  padding-left: 40px;
  font-size: 40px;
  font-family: 'Indie Flower', cursive;  color: white;
  border-bottom: solid 1px white;
}